<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       ">

    <context:component-scan base-package="com.bluemsun.controller" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://43.140.247.80:3306/BBS?characterEncoding=utf8&amp;serverTimezone=GMT&amp;useSSL=false&amp;useServerPrepStmts=true&amp;rewriteBatchedStatements=true"/>
        <property name="username" value="root"/>
        <property name="password" value="Zxy779299abc."/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" >
            <array>
                <value>classpath:mapper/UserMapper.xml</value>
                <value>classpath:mapper/PostsMapper.xml</value>
                <value>classpath:mapper/BlockMapper.xml</value>
                <value>classpath:mapper/FileMapper.xml</value>
                <value>classpath:mapper/CommentMapper.xml</value>
                <value>classpath:mapper/LikeMapper.xml</value>
                <value>classpath:mapper/FollowMapper.xml</value>
                <value>classpath:mapper/InformMapper.xml</value>
                <value>classpath:mapper/MessageMapper.xml</value>
            </array>
        </property>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean id="UserMapper" class="com.bluemsun.dao.impl.UserMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="FollowMapper" class="com.bluemsun.dao.impl.FollowMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="BlockMapper" class="com.bluemsun.dao.impl.BlockMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="FileMapper" class="com.bluemsun.dao.impl.FileMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="UserService" class="com.bluemsun.service.impl.UserServiceImpl"/>

    <bean id="FileService" class="com.bluemsun.service.impl.FileServiceImpl"/>

    <bean id="User" class="com.bluemsun.entity.User">
        <property name="banStatus" value="0"/>
    </bean>

    <bean id="myPage" class="com.bluemsun.entity.Page"/>

    <bean id="CommentMapper" class="com.bluemsun.dao.impl.CommentMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="LikeMapper" class="com.bluemsun.dao.impl.LikeMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="InformMapper" class="com.bluemsun.dao.impl.InformMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="MessageMapper" class="com.bluemsun.dao.impl.MessageMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="PostsService" class="com.bluemsun.service.impl.PostsServiceImpl"/>

    <bean id="PostsMapper" class="com.bluemsun.dao.impl.PostsMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="IndexService" class="com.bluemsun.service.impl.IndexServiceImpl"/>

    <bean id="File" class="com.bluemsun.entity.File"/>

    <bean id="OneComment" class="com.bluemsun.entity.Comment"/>

    <bean id="TwoComment" class="com.bluemsun.entity.ChildComment"/>

    <bean id="CommentService" class="com.bluemsun.service.impl.CommentServiceImpl"/>

    <bean id="BlockService" class="com.bluemsun.service.impl.BlockServiceImpl"/>


    <bean id="FollowService" class="com.bluemsun.service.impl.FollowServiceImpl"/>

    <bean id="InformService" class="com.bluemsun.service.impl.InformServiceImpl"/>

    <bean id="MessageService" class="com.bluemsun.service.impl.MessageServiceImpl"/>
<!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--        <property name="dataSource" ref="dataSource" />-->
<!--    </bean>-->


<!--    <bean id="Follow" class="com.bluemsun.entity.Follow"/>-->

    <bean id="Follow" class="com.bluemsun.entity.Follow"/>

    <bean id="log" class="com.bluemsun.log.Log"/>
    <bean id="afterLog" class="com.bluemsun.log.AfterLog"/>
    <bean id="exceptionLog" class="com.bluemsun.log.ExceptionLog"/>

    <bean id="UserVO" class="com.bluemsun.entity.vo.UserVO"/>
    <bean id="PostsVO" class="com.bluemsun.entity.vo.PostsVO"/>
    <bean id="BlockVO" class="com.bluemsun.entity.vo.BlockVO"/>
    <bean id="FileVo" class="com.bluemsun.entity.vo.FileVO"/>
    <bean id="InformVO" class="com.bluemsun.entity.vo.InformVO"/>

</beans>