<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.bluemsun.controller" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://43.140.247.80:3306/BBS?characterEncoding=utf8&amp;serverTimezone=GMT&amp;useSSL=false&amp;useServerPrepStmts=true&amp;rewriteBatchedStatements=true"/>
        <property name="username" value="root"/>
        <property name="password" value="Zxy779299abc."/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" >
            <array>
                <value>classpath:UserMapper.xml</value>
                <value>classpath:PostsMapper.xml</value>
                <value>classpath:BlockMapper.xml</value>
                <value>classpath:FileMapper.xml</value>
                <value>classpath:CommentMapper.xml</value>
                <value>classpath:ZanMapper.xml</value>
                <value>classpath:FollowMapper.xml</value>
            </array>
        </property>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean id="UserMapper" class="com.bluemsun.dao.impl.UserMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="FollowMapper" class="com.bluemsun.dao.impl.FollowMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="BlockMapper" class="com.bluemsun.dao.impl.BlockMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="FileMapper" class="com.bluemsun.dao.impl.FileMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="UserService" class="com.bluemsun.service.impl.UserServiceImpl"/>

    <bean id="FileService" class="com.bluemsun.service.impl.FileServiceImpl"/>

    <bean id="User" class="com.bluemsun.entity.User">
        <property name="banStatus" value="0"/>
        <property name="masterStatus" value="0"/>
    </bean>

    <bean id="myPage" class="com.bluemsun.entity.Page"/>

    <bean id="CommentMapper" class="com.bluemsun.dao.impl.CommentMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="ZanMapper" class="com.bluemsun.dao.impl.ZanMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="PostsService" class="com.bluemsun.service.impl.PostsServiceImpl"/>

    <bean id="PostsMapper" class="com.bluemsun.dao.impl.PostsMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="IndexService" class="com.bluemsun.service.impl.IndexServiceImpl"/>

    <bean id="File" class="com.bluemsun.entity.File"/>

    <bean id="OneComment" class="com.bluemsun.entity.OneComment"/>
    <bean id="TwoComment" class="com.bluemsun.entity.TwoComment"/>

    <bean id="CommentService" class="com.bluemsun.service.impl.CommentServiceImpl"/>

    <bean id="BlockService" class="com.bluemsun.service.impl.BlockServiceImpl"/>


    <bean id="FollowService" class="com.bluemsun.service.impl.FollowServiceImpl"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="Follow" class="com.bluemsun.entity.Follow"/>

<!--    <tx:advice id="advice" transaction-manager="transactionManager">-->
<!--        <tx:attributes>-->
<!--            <tx:method name="*" propagation="REQUIRED"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->

<!--    <aop:config>-->
<!--        <aop:pointcut id="pointCut" expression="execution(* com.bluemsun.service.*.*(..))"/>-->
<!--        <aop:advisor advice-ref="advice" pointcut-ref="pointCut"/>-->
<!--    </aop:config>-->


</beans>