<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.bluemsun.controller"/>

    <import resource="beans.xml"/>

    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>


    <mvc:annotation-driven>
        <mvc:message-converters>

            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="defaultCharset" value="UTF-8" />
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html</value>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

<!--    <mvc:cors>-->
<!--        <mvc:mapping path="/**"-->
<!--                     allowed-origins="*"-->
<!--                     max-age="3600"/>-->
<!--    </mvc:cors>-->

    <mvc:interceptors>
<!--        <bean class="com.bluemsun.interceptor.CorsInterceptor"/>-->
<!--        <bean class="com.bluemsun.interceptor.CheckInterceptor"/>-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.bluemsun.interceptor.CorsInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.bluemsun.interceptor.CheckInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>



<!--    <tx:advice id="advice" transaction-manager="transactionManager">-->
<!--        <tx:attributes>-->
<!--            <tx:method name="get*" read-only="true"/>-->
<!--            <tx:method name="*" propagation="REQUIRED"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.bluemsun.service.*.*(..))"/>-->
<!--        <aop:advisor advice-ref="advice" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

    <aop:config>
        <aop:pointcut id="pointCut" expression="execution(* com.bluemsun.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="log" pointcut-ref="pointCut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointCut"/>
    </aop:config>

<!--    <aop:config>-->
<!--        <aop:aspect ref="exceptionLog">-->
<!--            <aop:pointcut id="pointCut" expression="execution(* com.bluemsun.controller.*.*(..))"/>-->
<!--            <aop:after-throwing method="doRecoveryActions" pointcut-ref="pointCut" throwing="ex"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->
</beans>

