<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.mapper.ZanMapper">

    <select id="confirmZanByPosts" resultType="com.bluemsun.entity.Zan">
        select * from bbs_zan_posts where user_id = #{userId} and posts_id = #{postsId}
    </select>

    <insert id="zanPosts">
        insert into bbs_zan_posts (user_id,posts_id) values (#{userId},#{postsId})
    </insert>

    <delete id="deleteZanPosts">
        delete from bbs_zan_posts where user_id = #{userId} and posts_id = #{postsId}
    </delete>

    <select id="confirmZanByOne" resultType="com.bluemsun.entity.Zan">
        select * from bbs_zan_one where user_id = #{userId} and one_id = #{oneId}
    </select>

    <insert id="zanOne">
        insert into bbs_zan_one (user_id,one_id) values (#{userId},#{oneId})
    </insert>

    <delete id="deleteZanOne">
        delete from bbs_zan_one where user_id = #{userId} and one_id = #{oneId}
    </delete>


    <select id="confirmZanByTwo" resultType="com.bluemsun.entity.Zan">
        select * from bbs_zan_two where user_id = #{userId} and two_id = #{twoId}
    </select>

    <insert id="zanTwo">
        insert into bbs_zan_two (user_id,two_id) values (#{userId},#{twoId})
    </insert>

    <delete id="deleteZanTwo">
        delete from bbs_zan_two where user_id = #{userId} and two_id = #{twoId}
    </delete>

    <select id="zanNumberPosts" resultType="int">
        select count(*) from bbs_zan_posts where posts_id = #{postsId}
    </select>

    <select id="zanNumberOne" resultType="int">
        select count(*) from bbs_zan_one where one_id = #{oneId}
    </select>

    <select id="zanNumberTwo" resultType="int">
        select count(*) from bbs_zan_two where two_id = #{twoId}
    </select>

</mapper>