<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.dao.mapper.FollowMapper">
    
    <select id="getFollower" resultType="com.bluemsun.entity.Follow">
        select * from bbs_follow where user_id = #{userId} and status = 1
    </select>


    <select id="getFollowerNumber" resultType="int">
        select count(*) from bbs_follow where user_id = #{userId} and status = 1
    </select>

    <select id="getFans" resultType="com.bluemsun.entity.Follow">
        select * from bbs_follow where user_followed = #{userId} and status = 1
    </select>

    <select id="getFansNumber" resultType="int">
        select * from bbs_follow where user_followed = #{userId} and status = 1
    </select>

    <insert id="addFollowPeople" parameterType="com.bluemsun.entity.Follow">
        insert into bbs_follow (user_id,user_followed,status) values (#{userId},#{userFollowed},1)
    </insert>

    <select id="checkFollowPeople" parameterType="com.bluemsun.entity.Follow" resultType="com.bluemsun.entity.Follow">
        select * from bbs_follow where user_id = #{userId} and user_followed = #{userFollowed} and status = 1
    </select>

    <delete id="deleteFollowPeople" parameterType="com.bluemsun.entity.Follow">
        delete from bbs_follow where user_id = #{userId} and user_followed = #{userFollowed} and status = 1
    </delete>

    <select id="getFollowBlock" parameterType="int" resultType="com.bluemsun.entity.Follow">
        select * from bbs_follow where user_id = #{userId} and status = 2
    </select>

    <insert id="addFollowBlock" parameterType="com.bluemsun.entity.Follow">
        insert into bbs_follow (user_id,block_id,status) values (#{userId},#{blockId},2)
    </insert>

    <select id="checkFollowBlock" parameterType="com.bluemsun.entity.Follow" resultType="com.bluemsun.entity.Follow">
        select * from bbs_follow where user_id = #{userId} and block_id = #{blockId} and status = 2
    </select>

    <delete id="deleteFollowBlock">
        delete from bbs_follow where user_id = #{userId} and block_id = #{blockId} and status = 2
    </delete>

    <select id="getPersonByBlock" resultType="int">
        select user_id from bbs_follow where status = 2 and block_id = #{blockId}
    </select>

    <select id="getPersonByPerson" resultType="int">
        select user_id from bbs_follow where status = 1 and user_followed = #{userId}
    </select>
</mapper>